

#game {
  width: 100%;
  height: 2000px;
  position: fixed;
  background: BlanchedAlmond;
}

h1 {
  color: DarkSalmon;
  font-family: verdana;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#start {
  background-color: DarkCyan;
  padding: 12px 28px;
  font-size: 14px;
  color: White;
  font-family: verdana;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 75px;
}

#time {
  font-size: 22px;
  color: DarkSlateGrey;
  font-family: verdana;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 132px;
}

#score {
  font-size: 22px;
  color: DarkSlateGrey;
  font-family: verdana;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 168px;
}

#words {
  font-size: 25px;
  color: DarkSlateGrey;
  font-family: verdana;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  margin-top: 325px;
}

#submit {
  background-color: DarkCyan;
  padding: 12px 28px;
  font-size: 14px;
  color: White;
  font-family: verdana;
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  margin-top: 250px;
}

#guess {
  font-size:33px;
  position: absolute;
  left: 65%;
  transform: translateX(-50%);
  margin-top: 250px;
}

#reset {
  background-color: DarkCyan;
  padding: 12px 28px;
  font-size: 14px;
  color: White;
  font-family: verdana;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 350px;
}

h3 {
  font-size: 30px;
  color: DarkSalmon;
  font-family: verdana;
  margin-top: 265px;
  position: absolute;
  left: 4%;
}

#letters {
  font-size: 35px;
  color: DarkSlateGrey;
  font-family: verdana;
  position: absolute;
  left: 8%;
  margin-top: 110px;
}

#avail {
  font-size: 35px;
  color: LightSkyBlue;
  font-family: verdana;
  position: absolute;
  margin-top: 60px;
  left: 3%;
}

#over {
  font-size: 35px;
  color: LightSkyBlue;
  font-family: verdana;
  position: absolute;
  margin-top: 60px;
  left: 3%;
}

#tutorial {
  font-size: 35px;
  color: LightSkyBlue;
  font-family: verdana;
  position: absolute;
  margin-top: 5px;
  left: 80%;
}

#info {
  background-color: DarkCyan;
  padding: 10px 20px;
  font-size: 14px;
  color: White;
  font-family: verdana;
}
